@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif; /* Roboto будет первым в списке */
    margin: 0;
    padding-top: 50px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Ограничиваем ширину для лучшего отображения */
    padding: 10px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f0f0f0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	box-sizing: border-box;
}

.header-label {
    color: #3e314d;
}

.total-price {
    color: #dc3545; /* цвет стоимости меню */
}

.category-title {
	font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700; /* Использование Bold (700) начертания */
    text-align: center;
	margin-top: 10px;
    margin-bottom: 1px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 4px;
}

.menu-grid {
    /* display: grid;*/
    /* grid-template-columns: 1fr 1fr; */ /* Две колонки, как на картинке */
    /* gap: 5px 20px;*/ /* Отступы между элементами */
	display: flex;
    flex-direction: column;
    gap: 15px; /* Отступ между категориями */
}

.menu-grid-inner {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки для блюд внутри категории */
    gap: 5px 2px; /* Отступы между элементами блюд */
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.menu-item input[type="checkbox"] {
    margin-right: 10px;
    width: 20px; /* Увеличим размер чекбокса для удобства */
    height: 20px;
    cursor: pointer;
	accent-color: #dc3545;
}

.menu-item label {
	font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    cursor: pointer;
	font-size: 14px;
	font-weight: 400; /* Использование Regular (400) начертания */
	color: #2c2b2e;
	line-height: 1.2;
}

.half-btn {
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2px 6px;
    margin-left: 6px;
    background: #f7f7f7;
    cursor: pointer;
    transition: all 0.2s ease;
    display: none;
}

.half-btn.active {
    background: #ff4d4d; /* красный фон при выборе 0.5 */
    color: white;
    border-color: black; /* #d93636 */
}

.menu-item input[disabled] + label {
    opacity: 0.5;
    cursor: not-allowed;
}

.menu-item input[disabled] + label {
    cursor: not-allowed;
}



